
@model  DAO.ViewModel.ListaPreguntas 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SatisfaccionCurso", "SatisfaccionCurso", FormMethod.Post))
{ // el return indica que la accion del formulario llega false cuando ya le han dado clic una vez



    @*@if (PROYECTO_SIGECOR.Controllers.Utilidades.Funciones_Perfiles.Verificar_perfil((int)Session["id_usuario_sigecor"], 4))// 4 es poder listar los departamentos
        {*@
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        <h5 align="center">ENCUESTA DE SATISFACCION DEL ESTUDIANTE AL DOCENTE Y AL CURSO</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>

                        </div>
                        <br />
                        <div>
                            <p style="color:#1ab394">Estimado estudiante el objetivo de esta encuesta es ayudar al docente a reconocer los aspectos positivos y negativos a nivel académico para continuar mejorando cada día más.  Por favor seleccione la respuesta según su criterio de 1 a 5.</p>
                        </div>
                    </div>


                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            Pregunta
                                        </th>
                                        <th>
                                            Respuesta
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.ListaRespuestas.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(m => m.ListaRespuestas[i].Pregunta)
                                                @Html.HiddenFor(m => m.ListaRespuestas[i].Pregunta)
                                                @Html.HiddenFor(m => m.ListaRespuestas[i].PreguntasCalificacionCursoId)
                                                @Html.HiddenFor(m => m.ListaRespuestas[i].CursoId, new { Value = ViewBag.CursoId })
                                            </td>

                                            <td>
                                                @Html.DropDownListFor(m => m.ListaRespuestas[i].RespuestaPregunta, (IEnumerable<SelectListItem>)ViewBag.RespuestaPregunta, htmlAttributes: new { @class = "form-control" })
                                            </td>



                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Pregunta
                                        </th>
                                        <th>
                                            Respuesta
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>

                            <div id="CamposOcultosdeRespuesta" name="CamposOcultosdeRespuesta">

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="BotonCalificar" type="submit"><strong>Calificar</strong></button>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
        </div>
    </div>
}