@model  DAO.Cursos

<script src="~/Js_Utilidades/Validacion/NotasRapidas.js"></script>

@{
    Layout = null;
}

@using (Html.BeginForm("CursoUpdt", "Cursos", FormMethod.Post, new { onsubmit = "return  ValidarDobleCLicModificar()", enctype = "multipart/form-data" }))
{ // el return indica que la accion del formulario llega false cuando ya le han dado clic una vez

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CursoId)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 style="color:#1ab394" class="modal-title">Formulario de Modificacion de Curso</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6 b-r">
                <h3 class="m-t-none m-b"></h3>

                <div class="form-group">
                    <label>Nombre </label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @onkeyup = "UpperCase(this)", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Descripcion </label>
                    @Html.TextArea("Descripcion", null, new { @class = "form-control", @onkeyup = "UpperCase(this)", @rows = "4" })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Codigo Curso </label>
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @onkeyup = "UpperCase(this)", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Titulo Otorgado</label>
                    @Html.EditorFor(model => model.TituloOtorgado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TituloOtorgado, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Valor Curso</label>
                    @Html.EditorFor(model => model.ValorCurso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ValorCurso, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Duracion Horas</label>
                    @Html.EditorFor(model => model.DuracionHoras, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DuracionHoras, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6 ">
                <br>
              

                <div class="form-group">
                    <label>Docente</label>
                    @Html.DropDownListFor(x => x.Docente, (IEnumerable<SelectListItem>)ViewBag.Departamentos, "Seleccione una opcion", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Docente, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Imagen Actual</label>
                    <br />
                    <img width="150" height="150" src="@Url.Action("MostrarImagenCurso", "Cursos", new { CursoId =  Model.CursoId  })" />
                </div>

                <div class="form-group">
                    <label>Imagen</label>
                    <input class="form-control m-b" src="~/Fotos/sin_foto.jpg" type="file" name="file" />
                </div> 

                <div class="form-group">
                    <label>Estado Academico </label>
                    @Html.DropDownList("EstadoAcademico", null, "Seleccione una opcion", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EstadoAcademico, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Estado </label>
                    @Html.DropDownList("Estado", null, "Seleccione una opcion", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-sm-4 ">      </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="BotonModificar" type="submit"><strong>Modificar</strong></button>
    </div>
}




