
@model IEnumerable<DAO.Cursos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br>
        @if (BLL.Bll_Perfiles.VerificarPerfil(BLL.Enums.EnumPerfilesActivos.Permite_Acceder_Crear_Curso))
        {
            <a data-toggle="modal" class="btn btn-primary" onclick="CrearCurso()" id="btn_NuevoCurso" href="#myModal2">Nuevo Curso</a>
        }
    </div>

    <div class="col-lg-2">
    </div>
</div>

@if (BLL.Bll_Perfiles.VerificarPerfil(BLL.Enums.EnumPerfilesActivos.Permite_Acceder_Listar_Cursos))
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 align="center">Listado de Cursos Existentes en el Sistema</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>


                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Descripcion
                                        </th>
                                        <th>
                                            Titulo Otorgado
                                        </th>
                                        <th>
                                            Valor Curso
                                        </th>
                                        <th>
                                            Duracion Horas
                                        </th>
                                        <th>
                                            Docente
                                        </th>

                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Estado Academico
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TituloOtorgado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorCurso)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DuracionHoras)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Docente)
                                            </td>
                                            <td>
                                                @{ string Estado = "Inactivo";
                                                    if (item.Estado == 1)
                                                    {
                                                        Estado = "Activo";
                                                    }
                                                }
                                                @Estado
                                            </td>
                                            <td>
                                                @{ string EstadoAcademico = "";
                                                    if (item.EstadoAcademico == 0)
                                                    {
                                                        EstadoAcademico = "Ofertado";
                                                    }
                                                    else if (item.EstadoAcademico == 1)
                                                    {
                                                        EstadoAcademico = "Iniciado";
                                                    }
                                                    else if (item.EstadoAcademico == 2)
                                                    {
                                                        EstadoAcademico = "Pausado";
                                                    }
                                                    else if (item.EstadoAcademico == 3)
                                                    {
                                                        EstadoAcademico = "Cancelado";
                                                    }
                                                    else if (item.EstadoAcademico == 4)
                                                    {
                                                        EstadoAcademico = "Finalizado";
                                                    }
                                                }
                                                @EstadoAcademico
                                            </td>

                                            <td>
                                                @if (BLL.Bll_Perfiles.VerificarPerfil(BLL.Enums.EnumPerfilesActivos.Permite_Acceder_Calificaciones_Del_Curso_y_Docente))
                                                {
                                                    @Html.ActionLink(" ", "ReporteCalificaciones", "CalificacionDocenteCursoEstudiante", new { CursoId = item.CursoId }, new { @class = "fa fa-pie-chart", @title = "Satisfaccion del Curso" })
                                                }
                                            </td> 

                                            <td>
                                                @if (BLL.Bll_Perfiles.VerificarPerfil(BLL.Enums.EnumPerfilesActivos.Permite_Acceder_Modificar_Curso))
                                                {
                                                    <a href="#myModal2" onclick="ModificarCurso(this.id)" data-toggle="modal" id="@item.CursoId"><i class="fa fa-edit"></i></a>
                                                }
                                                </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Descripcion
                                        </th>

                                        <th>
                                            Titulo Otorgado
                                        </th>
                                        <th>
                                            Valor Curso
                                        </th>
                                        <th>
                                            Duracion Horas
                                        </th>
                                        <th>
                                            Docente
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Estado Academico
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}