@model IEnumerable<DAO.CursoEstudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br>
        @*@if (PROYECTO_SIGECOR.Controllers.Utilidades.Funciones_Perfiles.Verificar_perfil((int)Session["id_usuario_sigecor"], 5))// 5 es poder ver el boton crear departamento
            {*@
        <a data-toggle="modal" class="btn btn-primary" onclick=" ()" id="NuevaMatricula" href=@Url.Action("CursosOfertados", "Cursos")>Nueva Matricula</a>


        @*}*@
    </div>

    <div class="col-lg-2">
    </div>
</div>

@*@if (PROYECTO_SIGECOR.Controllers.Utilidades.Funciones_Perfiles.Verificar_perfil((int)Session["id_usuario_sigecor"], 4))// 4 es poder listar los departamentos
    {*@
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 align="center">Listado de Cursos Matriculados Existentes en el Sistema</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre Curso
                                    </th>
                                    <th>
                                        Estudiante
                                    </th>
                                    <th>
                                        Fecha Matricula
                                    </th>

                                    <th>
                                        Estado Academico
                                    </th>


                                    <th>
                                        @*Foro*@
                                    </th>

                                    <th>
                                        @*Material*@
                                    </th>

                                    <th>
                                        @*Mis Notas*@
                                    </th>

                                    <th>
                                        @*Calificar Curso y Docente*@
                                    </th>
                                    <th>
                                        @*Descargar Certificado*@
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cursos.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Personas.NombreCompleto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaMatricula)
                                        </td>
                                        <td>
                                            @{ string EstadoAcademico = "";
                                                if (item.Cursos.EstadoAcademico == 0)
                                                {
                                                    EstadoAcademico = "Ofertado";
                                                }
                                                else if (item.Cursos.EstadoAcademico == 1)
                                                {
                                                    EstadoAcademico = "Iniciado";
                                                }
                                                else if (item.Cursos.EstadoAcademico == 2)
                                                {
                                                    EstadoAcademico = "Pausado";
                                                }
                                                else if (item.Cursos.EstadoAcademico == 3)
                                                {
                                                    EstadoAcademico = "Cancelado";
                                                }
                                                else if (item.Cursos.EstadoAcademico == 4)
                                                {
                                                    EstadoAcademico = "Finalizado";
                                                }
                                            }
                                            @EstadoAcademico
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "Index", "ForoTema", new { CursoId = item.CursoId }, new { @class = "fa fa-comments", @title = "Foro del Curso" })
                                        </td>

                                        <td>
                                            @Html.ActionLink(" ", "Index", "MaterialDidactico", new { CursoId = item.CursoId }, new { @class = "fa fa-book", @title = "Material Didactico" })
                                        </td>

                                        <td>
                                                 <a href="#" onclick="" title="Mis Notas" data-toggle="modal" id="@item.CursoId"><i class="fa fa-eye"></i></a>
                                        </td>

                                        <td>
                                            @if (item.Cursos.EstadoAcademico == 4 && item.EstadoEvaluacionCursoyDocente == 0)
                                            {
                                                @Html.ActionLink(" ", "SatisfaccionCurso", "SatisfaccionCurso", new { CursoId = item.CursoId }, new { @class = "fa fa-gavel", @title = "Calificacion Curso y Docente" })
                                            } 
                                        </td>

                                        <td>
                                            @if (item.EstadoEvaluacionCursoyDocente == 1 && item.AprobacionCurso == 1 )
                                            {
                                                @Html.ActionLink(" ", "Descargar Certificado", "xxxx", new { CursoId = item.CursoId }, new { @class = "fa fa-graduation-cap", @title = "Descargar Certificado" })
                                            }
                                        </td>
                                         
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        Nombre Curso
                                    </th>
                                    <th>
                                        Estudiante
                                    </th>
                                    <th>
                                        Fecha Matricula
                                    </th>
                                    <th>
                                        Estado Academico
                                    </th>

                                    <th>
                                        @*Foro*@
                                    </th>

                                    <th>
                                        @*Material*@
                                    </th>

                                    <th>
                                        @*Mis Notas*@
                                    </th>

                                    <th>
                                        @*Calificar Curso y Docente*@
                                    </th>
                                    <th>
                                        @*Descargar Certificado*@
                                    </th>
                                     
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*}*@